@use "../abstracts/index" as a;

.main-body {
  font-size: 0.87rem;
  font-weight: 400;
  color: a.palette(very-dark-blue);
  position: relative;
  min-width: 325px;
  font-family: "open sans", sans-serif;
  line-height: 22px;

  @include a.breakpoint("medium") {
    font-size: 0.9375rem;
  }

  @include a.breakpoint("large") {
    font-size: 1rem;
  }
}
// global margin to individual elements and not to the body to let the svg background occupy the entire screen space
.cont-header,
.cont-main__cont-img,
.presentation__cont-img,
.argument-fylo {
  margin: 0 var(--margin-global);
}

@include a.breakpoint("mini") {
  .presentation__cont-img,
  .argument-fylo {
    margin: 0;
  }
  //removes the marge from the children and adds to the parent
  .presentation {
    margin: 0 var(--margin-global);
  }
}

// line breaks that fire after of media "mini"(650px)for the title and the rest in media "medium"
.break-desktop--title,
.break-desktop {
  display: none;
}
//
@include a.breakpoint("mini") {
  .break-desktop--title {
    display: block;
  }
}
@include a.breakpoint("medium") {
  .break-desktop {
    display: block;
  }
}
