@use "funtions" as f;
@use "variables" as var;
@use 'mixins' as mx;
// Fonts

%font-paragraph {
  font-size: 0.87rem;
  font-weight: 400;
  color: f.palette(very-dark-blue);

  @include mx.breakpoint("medium-desktop") {
    font-size: 0.9375rem;
  }

  @include mx.breakpoint("desktop") {
    font-size: 1rem;
  }
  @include mx.breakpoint("desktop");
}

%text-center {
  text-align: center;
}

%list-values {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

// media tablet
@include mx.breakpoint("tablet") {
  %text-center {
    text-align: left;
  }
}
