@use "../components/index" as components;

.cont-footer {
  padding: 45px var(--margin-global);
  background-color: components.palette(very-dark-blue);

  // all links footer
  [class*="link"] {
    text-decoration: none;
    color: components.palette(light-grayish-blue);

    @media screen and (min-width: components.$value-desktop) {
      &:hover {
        color: components.palette(desaturated-blue);
      }
    }
  }

  .logo-footer {
    margin-bottom: 40px;
    width: 160px;
    height: 45px;
    filter: brightness(0) invert(1);
  }

  // desktop
  @media screen and (min-width: components.$value-desktop) {
    padding: 70px var(--margin-global);
  }

  // desktop plus
  @media screen and (min-width: components.$value-desktop) {
    padding: 100px var(--margin-global);
  }
}
.contac {
  &__icon {
    margin-right: 15px;
  }
}
.contac {
  @extend %list-values;
}

.contac__item,
.info-fylo__item {
  padding-bottom: 15px;
}
.contac__item:nth-last-child(1),
.info-fylo__item:nth-child(4),
.info-fylo__item:nth-last-child(1) {
  padding-bottom: 40px;

  @media screen and (min-width: components.$value-desktop) {
    padding-bottom: 0;
  }
}
// contac, jobs, blog etc
.info-fylo {
  &__menu {
    @extend %list-values;
  }
}
.fylo-social {
  @extend %list-values;
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 15px;
  }
  .icon-media {
    border: solid 1px;
    padding: 9px 10px;
    border-radius: 50%;
  }
}
@media screen and (min-width: components.$value-desktop) {
  .footer-nav {
    display: flex;
    justify-content: space-between;
  }
  .icon-media:hover {
    color: components.palette(bright-blue);
  }
}
