@use "../abstracts/index" as a;

.cont-header {
  text-align: var(--alig-text);
  padding-top: 25px;

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  .logo--header {
    width: 75px;
  }

  @include a.breakpoint("mini") {
    .logo--header {
      width: 90px;
    }
  }
  @include a.breakpoint("mini") {
    .logo--header {
      width: 90px;
    }
  }
  // desktop
  @include a.breakpoint("large") {
    padding-top: 40px;
  }
  @include a.breakpoint("huge") {
    .logo--header {
      width: 110px;
    }
  }
}

.menu {
  @include a.list-values;
  display: flex;
  justify-content: space-between;

  &__item {
    padding: 0 7px;
  }
  &__link {
    color: inherit;
    text-decoration: none;
  }

  @include a.breakpoint("mini") {
    &__item {
      padding: 0 15px;
    }
  }
  @include a.breakpoint("huge") {
    &__item {
      padding: 0 25px;
    }
  }
}

.fylo-header {
  margin: 65px 0 150px 0;

  &__title {
    margin: 40px 0 30px 0;
    font-size: a.Title(1.5rem);
    line-height: 35px;
    font-weight: 700;
  }
  &__text {
    margin-bottom: 32px;
  }
  // desing mini
  @include a.breakpoint("mini") {
    display: flex;
    align-items: center;
    margin: 90px 0 190px 0;

    &__title {
      margin-top: 0;
    }
    &__cont-img {
      order: 2;
      flex-basis: 45%;
    }
    &__info {
      flex-basis: 55%;
      margin-right: 20px;
    }
  }

  // desing medium desktop
  @include a.breakpoint("medium") {
    &__title {
      @include a.FontTitle;
      font-size: a.Title(1.5625rem);
    }
  }

  // desktop
  @include a.breakpoint("large") {
    margin: 60px 0 190px 0;

    &__title {
      font-size: a.Title(1.75rem);
      line-height: 45px;
    }
    &__cont-img,
    &__info {
      flex-basis: 50%;
    }
    &__info {
      margin-right: 35px;
    }
  }

  // desktop plus
  @include a.breakpoint("huge") {
    &__title {
      font-size: 38px;
    }
    &__info {
      margin-right: 0;
    }
  }
}
