@use "../abstracts/index" as a;
.cont-main {
  position: relative;
  background-color: a.palette(light-grayish-blue);

  // background page
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-image: url(../../images/bg-curve-mobile.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center 100%;
    transform: translateY(-100%);
  }
  @include a.breakpoint("medium") {
    &::before {
      height: 90px;
      background-image: url(../../images/bg-curve-desktop.svg);
    }
  }
}
.presentation {
  margin-bottom: 70px;
  @include a.breakpoint("large") {
    margin-bottom: 20px;
  }
}
// cont main
.argument-fylo {
  &__title {
    @include a.FontTitle;
    text-align: var(--alig-text);
    margin: 80px 0 30px 0;
    font-size: a.Title(0.875rem);
  }
  &__paragraph {
    margin-top: 0;
    color: a.palette(desaturated-blue);
  }
  &__paragraph:nth-of-type(2) {
    margin-bottom: 40px;
  }
  &__cont-link {
    text-align: var(--alig-text);
  }
  &__link {
    border-bottom: solid 2px;
    text-decoration: none;
    color: a.palette(moderate-cyan);
  }

  @include a.breakpoint("medium") {
    &__title {
      font-size: a.Title(1.25rem);
    }
  }
  @include a.breakpoint("large") {
    &__title {
      font-size: a.Title(1.75rem);
    }
    &__link:hover {
      filter: brightness(1.5);
      cursor: pointer;
    }
  }
  @include a.breakpoint("huge") {
    &__title {
      font-size: a.Title(2.2rem);
    }
  }
}

.span {
  text-align: var(--alig-text);
  padding: 70px var(--margin-global);
  color: a.palette(light-grayish-blue);
  background-color: a.palette(desaturated-blue);

  &__title {
    @include a.FontTitle;
    margin: 0;
    font-size: a.Title(1rem);
  }
  &__paragraph {
    margin: 20px 0;
  }

  @include a.breakpoint("mini") {
    display: flex;
    align-items: center;

    &__content {
      margin-right: 20px;
      flex-basis: 55%;
    }
    .form__bottom-page {
      padding: 0;
      flex-basis: 45%;
    }
    .form__submit--bottom-page {
      width: 70%;
    }
  }

  @include a.breakpoint("medium") {
    &__title {
      font-size: 1.25rem;
    }
  }

  @include a.breakpoint("large") {
    padding: 80px var(--margin-global);

    &__title {
      font-size: 1.4375rem;
    }
  }

  @include a.breakpoint("huge") {
    padding: 90px var(--margin-global);

    &__title {
      font-size: 1.7rem;
    }
  }
}

@include a.breakpoint("mini") {
  //grid content img testimonial and argumento main
  .presentation {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

    &__cont-img {
      max-width: 550px;
      grid-column: -1 / -2;
    }
  }
  .presentation__cont-img,
  .argument-fylo,
  .testimonial {
    align-self: center;
  }
  .argument-fylo {
    grid-row: 1 / 2;
  }
  .testimonial {
    grid-column: 1 / -1;
  }
}

@include a.breakpoint("large") {
  .presentation {
    gap: 30px;

    &__cont-img {
      grid-row: 1 / -1;
    }
  }
}
